documentation/html/**
documentation/latex/**
documentation/logfiles**
documentation/plots/**
init_report/project.pdf

venv
__pycache__/
*.log
*.pyc
plots/*
models/*
paper/*
*.aux
*.fdb_latexmk
*.fls
*.gz
