documentation/html/**
documentation/latex/**
documentation/logfiles**
documentation/plots/**
init_report/project.pdf

.vscode/
__pycache__/
*.log
*.pyc
plots/*
models/*
paper/*
*.json
*.aux
*.fdb_latexmk
*.fls
*.gz
