documentation/logfiles**
documentation/plots/**

documentation/reports/milestone_1/project.aux
documentation/reports/milestone_1/project.dvi
documentation/reports/milestone_1/project.log
documentation/reports/milestone_1/project.out
documentation/reports/milestone_1/project.synctex.gz

htmlcov/*
.coverage*
report.xml

.eggs/*

venv
.vscode/
__pycache__/
*.log
*.pyc
plots/*
models/*
paper/*
*.aux
*.fdb_latexmk
*.fls
*.gz
*.json
.idea/
.vscode/launch.json
.vscode/tasks.json
.vscode/settings.json
*.DS_STORE
src/data_management/.ipynb_checkpoints/
src/webinterface/frontend/node_modules

prophet.png
prophet_components.png
prophet_gridseachcv_values.csv
